extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        h1 #{projs.project_name}

        p #{projs.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          li HTML
          li CSS
          li JavaScript

        a.btn-link(href=`${projs.live_link}`) Live Demo
        a.btn-link(href=`${projs.github_link}`) GitHub Repo

    .project-img-box.box

      img.project-img(src=`/static/images/${projs.image_urls[0]}`)
      img.project-img(src=`/static/images/${projs.image_urls[1]}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
